body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #b8b8b8;
}

input[type=text], select {
    width: 50%;
    padding: 12px 020px;
    margin: 8px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

input[type=number], select {
    width: 12%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}
  
input[type=button] {
    width: 28px;
    background-color: #af4f4c;
    color: white;
    padding: 6px 5px;
    margin: 2px 2px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

#add {
    width: 6%;
    background-color: #4caf65;
    color: white;
    padding: 14px 20px;
    margin: 8px 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
input[type=button]:hover {
    background-color: #a04545;
}
  
.formContainer {
    width: 1080px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.bookContainer {
    width: 1080px;
    border-radius: 20px;
    background-color: #d5dad5;
    padding: 20px;
    margin-top: 8px;
}

.form {
    display: flex;
    align-items: center;
}

.iten {
    margin-left: 15px;
}

.container {
    display: grid;
    column-gap: 10px;
    row-gap: 15px;
    grid-template-columns: repeat(5, 210px);
}
.book {
    width: 200px;
    height: 300px;
    color: #bebebe;
    background-image: url("/assets/images/bookBG.jpg");
    border-radius: 15px;
    text-align: center;
}

.book:hover {
    transform: scale(1.01);
    box-shadow: 5px 8px 8px #707070;
}

main {
    margin-top: 5%;
    margin-left: 100px;
}